<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../momentjs/momentjs.html">
<link rel="import" href="../clock-data/clock-data.html">

<dom-module id="clock-digital">
	<template>
		<style>
			:host {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
			}

			time {
				margin: 16px;
				display: block;
			}

			#clock {
				text-align: center;
			}

			#major {
				font-weight: lighter;
				font-size: 48px;
				margin: 0;
			}
			
			#minor {
				font-weight: normal;
				color: rgba(0, 0, 0, 0.54);
				vertical-align: sub;
			}

			#date {
				margin-bottom: 0
			}

			#time {
				margin-top: 0
			}
		</style>
		<clock-data auto-start current="{{now}}"></clock-data>
		<time id="clock">
			<p id="time"><span id="major">[[formatted.major]]</span><span id="minor">[[formatted.minor]]</span></p>
			<p id="date">[[formatted.date]]</p>
		</time>
	</template>
	<script>
		'use strict';
		Polymer({
			is: 'clock-digital',
			properties: {
				now: {
					type: String,
					value: moment().format()
				},
				formatted: {
					type: Object,
					computed: 'format(now)'
				}
			},
			format: function (time) {
				time = moment(time);
				return {
					major: time.format('H:mm'),
					minor: time.format('ss'),
					date: capitalizeDay(time.format('dddd D MMMM YYYY'))
				};

				function capitalizeDay(dateString) {
					return dateString.charAt(0).toUpperCase() + dateString.slice(1);
				}
			}
		});
	</script>
</dom-module>
