<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="titled-module">
	<template>
		<style>
			:host {
				position: relative;
				display: flex;
				box-sizing: border-box;
				padding: 8px;
				flex-direction: column;
			}

			:host > ::content h1 {
				margin: 0;
				margin-bottom: 8px;
				text-align: center;
				font-weight: lighter;
				font-size: 24px;
				order: 0;
				flex: 0 0 auto;
			}
			
			:host > ::content :not(h1) {
				flex: 1;
			}
		</style>
		<content select="h1"></content>
		<content></content>
	</template>
	<script>
		'use strict';
		Polymer({
			is: 'titled-module'
		});
	</script>
</dom-module>
