<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../momentjs/momentjs.html">

<dom-module id="room-planning-data">
	<template>
		<style>
		</style>
		<iron-ajax id='ajax'
			auto
			url='/api/room-planning'
			params='[[_computeRequestParameters(rooms, periodStart, periodEnd)]]'
			handle-as='json'
			last-response='{{_data}}'
			debounce-duration='50'
			on-response='_onResponse'
			on-error='_onError'
		></iron-ajax>
	</template>
	<script>
		'use strict';

		Polymer({
			is: 'room-planning-data',
			properties: {
				rooms: { // An Array of String, each being the identifier of a room.
					type: Array,
					value: []
				},
				periodStart: { // A date which can be parsed by momentjs
					type: String,
					value: null
				},
				periodEnd: { // A date which can be parsed by momentjs
					type: String,
					value: null
				},
				tags: { // If set, filters events by tags
					type: Array,
					value: null
				},
				refreshRate: { // A Number, representing the refresh frequency in seconds. Zero means no automatic refresh.
					type: Number,
					value: null,
					observer: '_refreshRateChanged'
				},
				_data: { // I need this intermediate variable because roomData should be readOnly.
					type: Object
				},
				data: {
					type: Object,
					notify: true,
					computed: '_processData(_data, tags)'
				},
				error: {
					type: Boolean,
					value: false,
					readOnly: true,
					notify: true
				}
			},
			_onResponse: function () {
				this._setError(false);
			},
			_onError: function () {
				this._setError(true);
			},
			_computeRequestParameters: function (rooms, periodStart, periodEnd) {
				var params = {
					start: periodStart ? moment(periodStart).format() : moment().startOf('day').format(),
					end: periodEnd ? moment(periodEnd).format() : moment().endOf('day').add(1, 'day').format(),
					rooms: (rooms || []).join(',')
				};
				return params;
			},
			_processData: function (data, tags) {
				if (tags === null) {
					return data;
				} else {
					var r;
					var o = {};
					var tr = tags.map(function (tag) { return new RegExp(':' + tag + ':', 'i'); });

					for (r in data) {
						o[r] = data[r].filter(function (e) { return tr.some(function (t) { return t.test(e.title); }) });
					}
					return o;
				}
			},
			_refreshIntervalId: null,
			_refreshRateChanged: function (newRefreshRate) {
				if (this._refreshIntervalId !== null) {
					clearInterval(this._refreshIntervalId);
					this._refreshIntervalId = null;
				}
				if (newRefreshRate && newRefreshRate > 0) {
					var This = this;
					this._refreshIntervalId = setInterval(function () {
						This.$.ajax.params = This._computeRequestParameters(This.rooms, This.periodStart, This.periodEnd);
					}, newRefreshRate * 1000);
				}
			}
		});
	</script>
</dom-module>
