<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="vertical-layout">
	<template>
		<style>
			:host {
				display: block;
			}

			#wrapper {
				display: flex;
				flex-direction: column;
				height: 100%;
				width: 100%;
			}

			#wrapper > ::content * {
				flex: 1;
				position: relative;
				color: red;
			}
		</style>
		<div id="wrapper">
			<content></content>
		</div>
	</template>
	<script>
		'use strict';
		Polymer({
			is: 'vertical-layout',
			ready: function() {
				console.log('<vertical-layout> is ready.');
			}
		});
	</script>
</dom-module>

