<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="card-layout">
	<template>
		<style>
			:host {
				box-sizing: border-box;
				display: flex;
				padding: 4px;
			}

			#card {
				flex: 1;
				display: flex;
				border-radius: 4px;
				background-color: #fafafa;
				-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
				   -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
				        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
				box-sizing: border-box;
				overflow: hidden;
			}

			#card > ::content > * {
				flex: 1;
			}
		</style>
		<div id="card">
			<content></content>
		</div>
	</template>
	<script>
		Polymer({
			is: 'card-layout',
		});
	</script>
</dom-module>
