<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../momentjs/momentjs.html">
<link rel="import" href="../room-planning-data/room-planning-data.html">
<link rel="import" href="room-planning-room-column.html">
<!-- <link rel="import" href="../jquery-2.1.4/jquery-2.1.4.html"> -->

<dom-module id="room-planning">
	<template>
		<style>
			:host {
				padding: 8px;
				display: flex;
				position: relative;
			}

			room-planning-room-column {
				flex: 1;
			}
		</style>
		<clock-data
			auto-start
			current="{{currentDay}}"
			interval="P0Y0M1DT0H0M0S">
		</clock-data>
		<room-planning-data
			rooms="[[_allRooms(rooms, backupRooms)]]"
			data="{{data}}"
			period-start="[[currentPeriod.start]]"
			period-end="[[currentPeriod.end]]"
			refresh-rate="600"
			error="{{_errorState}}">
		</room-planning-data>
		<template is="dom-repeat" items="[[shownRooms]]" as="room">
			<room-planning-room-column
				room="[[room]]"
				data="[[_roomData(data, room)]]"
				day-start="[[_dayStart]]"
				day-end="[[_dayEnd]]">
			</room-planning-room-column>
		</template>
	</template>
	<script>
		var lol;
		'use strict';

		Polymer({
			is: 'room-planning',
			properties: {
				rooms: {
					type: Array,
					value: []
				},
				backupRooms: {
					type: Array,
					value: []
				},
				shownRooms: {
					type: Array,
					computed: '_shownRooms(rooms, backupRooms, backupTags, data)'
				},
				backupTags: {
					type: Array,
					value: ['sm']
				},
				data: {
					type: Object
				},
				currentDay: {
					type: String,
					value: moment().format()
				},
				currentPeriod: {
					type: Object,
					computed: '_currentPeriod(currentDay)'
				},
				defaultStartOfDay: {
					type: String,
					value: '8:00'
				},
				defaultEndOfDay: {
					type: String,
					value: '20:00'
				},
				startOfDay: {
					type: String,
					computed: '_minStart(data, shownRooms, defaultStartOfDay)'
				},
				endOfDay: {
					type: String,
					computed: '_maxEnd(data, shownRooms, defaultEndOfDay)'
				},
				_dayStart: {
					type: Object,
					computed: '_durationOf(startOfDay)'
				},
				_dayEnd: {
					type: Object,
					computed: '_durationOf(endOfDay)'
				},
				_errorState: {
					type: Boolean,
					value: false
				}
			},
			ready: function() {
				lol = this;
			},
			_allRooms: function(rooms, backupRooms) {
				return rooms.concat(backupRooms);
			},
			_shownRooms: function(rooms, backupRooms, backupTags, data) {
				var roomData = this._roomData.bind(this)
				var backupTagsRegex = backupTags.map(function (tag) {
					return new RegExp(':' + tag + ':', 'i');
				});
				rooms = rooms.slice();
				backupRooms.forEach(function (room) {
					if (roomData(data, room).some(function (ev) {
						return backupTagsRegex.some(function (tag) {
							return tag.test(ev.title);
						});
					})) {
						rooms.push(room);
					}
				});
				return rooms;
			},
			_roomData: function(data, room) {
				return (data || {})[room] || [];
			},
			_currentPeriod: function(currentDay) {
				currentDay = moment(currentDay);

				console.log("Computing new currentPeriod for day " + currentDay + ".");
				return {
					start: currentDay.startOf('day').format(),
					end: currentDay.endOf('day').format()
				};
			},
			_durationOf: function (duration) {
				return moment.duration(duration);
			},
			_minStart: function(data, shownRooms, defaultStartOfDay) {
				var now = moment();
				var dayStart = moment(now).startOf('day');
				var min = moment(now).startOf('day').add(moment.duration(defaultStartOfDay));

				for (var r in shownRooms) {
					var room = shownRooms[r];
					var roomData = this._roomData(data, room);
					for (var i in roomData) {
						var start = moment(roomData[i].start);

						if (start.isBefore(min) && start.isAfter(dayStart)) {
							min = start;
						} else if (start.isSame(dayStart) || start.isBefore(dayStart)) {
							return dayStart.format('H.mm');
						}
					}
				}
				return min;
			},
			_maxEnd: function(data, shownRooms, defaultEndOfDay) {
				var now = moment();
				var dayEnd = moment(now).endOf('day');
				var max = moment(now).startOf('day').add(moment.duration(defaultEndOfDay));

				for (var r in shownRooms) {
					var room = shownRooms[r];
					var roomData = this._roomData(data, room);
					for (var i in roomData) {
						var end = moment(roomData[i].end);

						if (end.isAfter(max) && end.isBefore(dayEnd)) {
							max = end;
						} else if (end.isSame(dayEnd) || end.isAfter(dayEnd)) {
							return dayEnd.format('H.mm');
						}
					}
				}
				return max;
			}
		});
	</script>
</dom-module>
